body {
  background: rgb(45, 253, 149);
  background-image: linear-gradient(
    to bottom right,
    rgba(45, 253, 149, 1),
    rgba(45, 253, 149, 1)
  );
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 400px;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.row {
  display: flex;
  flex-direction: row;
  height: 33.33%;
}
.col {
  width: 33.33%;
}

#res {
  visibility: hidden;
  width: 400px;
  padding: 5px;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  background-color: #f0655b;
  font-size: large;
  font-family: Gill Sans Extrabold, sans-serif;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-container {
  position: absolute;
  display: block;
  width: 99%;
  padding: auto;
  margin-top: 510px;
}
#btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-family: Gill Sans Extrabold, sans-serif;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#btn:hover span {
  padding-right: 25px;
}

#btn:hover span:after {
  opacity: 1;
  right: 0;
}
